// push down content to body
body
    padding-top 69px

// narrow down navbar
.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px
    h6
        color #ccc

// pattern the footer on neither side, and create teh divider line
footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

// seperate the form elements
.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

